:root {
  --clr1: rgb(106, 106, 249);
  --clr2: rgb(194, 141, 247);
  --clr3: beige;
  --clr4: rgb(27, 48, 209);
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--clr1);
  display: block;
  margin: 8px;
}

/* Navigation */

.navbar {
  background-color: var(--clr4);
}

.navbar-brand {
  width: 25%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--clr3);
  background-color: var(--clr2);
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
}

.navbar-brand:hover {
  color: var(--clr1);
}

.nav-item {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-link {
  text-decoration: none;
  color: var(--clr3);
  border-bottom: 4px solid var(--clr2);
  padding: 3px;
}

.nav-link:hover {
  border-bottom-color: var(--clr3);
}

/* Jumbotron */

.jumbotron {
  color: var(--clr2);
  position: relative;
  background-image: url(../images/flowerpic.jpg);
  height: 300px;
}

.display-4 {
  margin: 10px;
  position: absolute;
  right: 50px;
  top: 150px;
  border: 1px solid var(--clr4);
  background-color: var(--clr4);
  border-radius: 10px;
  padding: 5px;
}

.avatar {
  height: 200px;
  margin: 0px;
  position: absolute;
  left: 50px;
  top: 100px;
}

/* About */

#about {
  height: 200px;
  display: flex;
}

.head3 {
  display: flex;
  justify-content: end;
  font-size: 25px;
  border-right: 3px solid var(--clr4);
  width: 60px;
  font-weight: 500;
  padding: 70px 20px 70px 80px;
  margin: 10px;
  color: var(--clr3);
}

.intro {
  display: flex;
  color: var(--clr3);
  margin: 2% 5%;
  text-align: center;
  align-items: center;
}

/* Portfolio */

#work {
  height: 700px;
  display: flex;
}

#gridArea {
  margin: 0px 5%;
  display: grid;
  width: 2000px;
}

.card1 {
  background-image: url(../images/screenshot-week-one-challenge.png);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border: 3px solid var(--clr4);
  border-radius: 10px;
  height: 300px;
}

.card1:hover {
  border-color: var(--clr2);
  opacity: 85%;
  box-shadow: 4px 5px rgb(194, 141, 247);
}

.card2 {
  background-image: url(../images/flowerpic.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border: 3px solid var(--clr4);
  border-radius: 10px;
  height: 150px;
}

.card2:hover {
  border-color: var(--clr2);
  opacity: 85%;
  box-shadow: 4px 5px rgb(194, 141, 247);
}

.card3 {
  background-image: url(../images/flowerpic.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border: 3px solid var(--clr4);
  border-radius: 10px;
  height: 150px;
}

.card3:hover {
  border-color: var(--clr2);
  opacity: 85%;
  box-shadow: 4px 5px rgb(194, 141, 247);
}

.card4 {
  background-image: url(../images/flowerpic.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border: 3px solid var(--clr4);
  border-radius: 10px;
  height: 150px;
}

.card4:hover {
  border-color: var(--clr2);
  opacity: 85%;
  box-shadow: 4px 5px rgb(194, 141, 247);
}

.card5 {
  background-image: url(../images/flowerpic.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border: 3px solid var(--clr4);
  border-radius: 10px;
  height: 150px;
}

.card5:hover {
  border-color: var(--clr2);
  opacity: 85%;
  box-shadow: 4px 5px rgb(194, 141, 247);
}

.btn {
  background-color: var(--clr2);
  padding: 5px;
  color: var(--clr3);
  font-size: 20px;
  border: 2px solid var(--clr4);
  position: absolute;
  bottom: 15px;
  left: 15px;
  border-radius: 10px;
}

/* skills */

#skills {
  height: 200px;
  display: flex;
}

.skills-description {
  display: flex;
  color: var(--clr3);
  margin: 2% 5%;
  text-align: center;
  align-items: center;
}

/* contact */

#contact {
  height: 200px;
  display: flex;
}

#contactLinks {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0%;
}

.contactList {
  text-decoration: none;
  color: var(--clr3);
  border-bottom: 4px solid var(--clr2);
  padding: 3px;
}

.contactList:hover {
  border-bottom-color: var(--clr3);
}

/* footer */

.footer {
  background-color: var(--clr4);
  color: var(--clr3);
}

.footerLinks {
  margin: 0;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0%;
}

.footerList {
  text-decoration: none;
}

.footerList:hover {
  border-bottom-color: var(--clr3);
}

/* Media Queries */

@media screen and (max-width: 985px) {
  .avatar {
    display: none;
  }
  #skills {
    height: 300px;
  }
}
@media screen and (max-width: 875px) {
  .nav-item {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 650px) {
  #about {
    height: 300px;
  }
  #skills {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  #contactLinks {
    display: flex;
    flex-direction: column;
  }
  #work {
    height: 1100px;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }

  .subHeading h2 {
    font-size: 15px;
  }

  .head3 {
    display: flex;
    justify-content: end;
    margin: 10px 10px 10px 20px;
    font-size: 15px;
    width: 20px;
    font-weight: 500;
    padding: 70px 10px 70px 20px;
  }

  .navbar-brand {
    background-color: var(--clr4);
  }
}

@media screen and (max-width: 500px) {
  .head4 {
    font-size: 15px;
  }
  #skills {
    height: 450px;
  }
}

@media screen and (max-width: 450px) {
  #skills {
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  #about {
    height: 350px;
  }
  #skills {
    height: 600px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 10px;
  }
  #about {
    height: 400px;
  }
  #skills {
    height: 700px;
  }
}

@media screen and (max-width: 325px) {
  #about {
    height: 450px;
  }
  #skills {
    height: 750px;
  }
}

@media screen and (max-width: 300px) {
  #about {
    height: 500px;
  }
  #skills {
    height: 850px;
  }
}

@media screen and (max-width: 250px) {
  .head3 {
    display: none;
  }
  .subHeading h2 {
    font-size: 10px;
  }
}
